@media screen and (min-width: 780px) and (max-width: 1024px) {
  body {
    background-color: #e6f5ff;
  }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
  body {
    background-color: #e6f5ff;
  }
}

/*@media maximo y minimo de un sitio web*/
* {
  margin: 0;
  padding: 0;
}

/* logo del sitio */
header {
  margin: 0;
  margin-left: 0.1em;
  padding: 0.3em;
  color: #5e0315;
  font-family: "Carter One", cursive;
  font-size: 50px;
  -webkit-animation: animacion 3s;
          animation: animacion 3s;
}

nav a img {
  -webkit-animation: animacion 3s;
          animation: animacion 3s;
}

@-webkit-keyframes animacion {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animacion {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  margin: 0;
  padding: 0;
}

/*menu*/
#menu {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: "Caveat";
  color: black;
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#menu:hover {
  color: #ffffff;
  background: #520202;
  -webkit-box-shadow: 0 0 10px #5a0000, 0 0 40px #5a0000;
          box-shadow: 0 0 10px #5a0000, 0 0 40px #5a0000;
}

.navegacion {
  width: 95%;
  margin: 1px;
  background: #ffffff;
  text-align: right;
  font-family: "Caveat";
  font-size: 24px;
}

.navegacion ul {
  list-style: none;
}

.menu li {
  position: relative;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.menu li a {
  padding: 5px 21px;
  color: #ffffff;
  font-family: "Caveat";
  text-decoration: none;
}

.menu li a:hover {
  background-color: red;
  color: white;
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.page-hero {
  margin-top: 5rem;
  height: 60vh;
  font-size: 1.2rem;
}

/*contenido*/
.hero-title {
  color: #ff0022;
}

.col-md-4:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 400px;
}

.servicios img {
  width: 380px;
  margin-top: 1em;
  height: 250px;
}

.servicios-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3d29f1;
}

.scroll-animations-example > .scrollsection {
  padding: 10vh 10vh 10vh 10vmax;
  min-width: 550vh;
}

.scroll-animations-example > .scrollsection > .item {
  display: inline-block;
  position: relative;
  margin: 0 -30vh 0 3vh;
}

.scroll-animations-example > .scrollsection > .item::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.scroll-animations-example > .scrollsection > .item.-big {
  height: 80vh;
  width: 60vh;
}

.scroll-animations-example > .scrollsection > .item.-big.-horizontal {
  height: 60vh;
  width: 80vh;
}

.scroll-animations-example > .scrollsection > .item.-normal {
  height: 60vh;
  width: 45vh;
  z-index: 1;
}

.scroll-animations-example > .scrollsection > .item.-normal.-horizontal {
  height: 45vh;
  width: 60vh;
}

.scroll-animations-example > .scrollsection > .item.-normal:nth-of-type(3n) {
  bottom: 5vh;
}

.scroll-animations-example > .scrollsection > .item.-normal:nth-of-type(4n) {
  bottom: -5vh;
}

.scroll-animations-example > .scrollsection > .item.-small {
  height: 40vh;
  width: 30vh;
  z-index: 2;
}

.scroll-animations-example > .scrollsection > .item.-small.-horizontal {
  height: 30vh;
  width: 40vh;
}

.scroll-animations-example > .scrollsection > .item.-small:nth-of-type(3n) {
  bottom: 13vh;
}

.scroll-animations-example > .scrollsection > .item.-small:nth-of-type(4n) {
  bottom: -13vh;
}

.scroll-animations-example > .scrollsection > .item > .image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(0) translateY(0) scale(1);
          transform: translateX(0) translateY(0) scale(1);
  -webkit-transition: opacity 1s ease, -webkit-filter .3s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-filter .3s ease, -webkit-transform 1s ease;
  transition: filter .3s ease, opacity 1s ease, transform 1s ease;
  transition: filter .3s ease, opacity 1s ease, transform 1s ease, -webkit-filter .3s ease, -webkit-transform 1s ease;
}

.scroll-animations-example > .scrollsection > .item:nth-of-type(4n) > .image {
  -webkit-transform: translateX(-30vh) translateY(-30vh) scale(0.8);
          transform: translateX(-30vh) translateY(-30vh) scale(0.8);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.scroll-animations-example > .scrollsection > .item:nth-of-type(4n - 1) > .image {
  -webkit-transform: translateX(30vh) translateY(30vh) scale(0.8);
          transform: translateX(30vh) translateY(30vh) scale(0.8);
  -webkit-transition-delay: .05s;
          transition-delay: .05s;
}

.scroll-animations-example > .scrollsection > .item:nth-of-type(4n - 2) > .image {
  -webkit-transform: translateX(-30vh) translateY(30vh) scale(0.8);
          transform: translateX(-30vh) translateY(30vh) scale(0.8);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.scroll-animations-example > .scrollsection > .item:nth-of-type(4n - 3) > .image {
  -webkit-transform: translateX(-30vh) translateY(-30vh) scale(0.8);
          transform: translateX(-30vh) translateY(-30vh) scale(0.8);
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

.scroll-animations-example > .scrollsection > .item > .image.-active {
  -webkit-transform: translateX(0) translateY(0) scale(1);
          transform: translateX(0) translateY(0) scale(1);
  opacity: .8;
  pointer-events: auto;
  -webkit-transition: opacity 1s ease, -webkit-filter .3s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-filter .3s ease, -webkit-transform 1s ease;
  transition: filter .3s ease, opacity 1s ease, transform 1s ease;
  transition: filter .3s ease, opacity 1s ease, transform 1s ease, -webkit-filter .3s ease, -webkit-transform 1s ease;
}

.scroll-animations-example > .scrollsection > .item > .image.-clicked {
  -webkit-transform: translateX(0) translateY(0) scale(5);
          transform: translateX(0) translateY(0) scale(5);
  opacity: 0;
  pointer-events: auto;
  -webkit-transition: opacity 1s ease, -webkit-filter .3s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-filter .3s ease, -webkit-transform 1s ease;
  transition: filter .3s ease, opacity 1s ease, transform 1s ease;
  transition: filter .3s ease, opacity 1s ease, transform 1s ease, -webkit-filter .3s ease, -webkit-transform 1s ease;
}

.scroll-animations-example > .scrollsection > .item > .image.-active:hover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
  cursor: pointer;
}

/*promo*/
.grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #03afff;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
}

/* forms */
.formulario {
  font-family: "Roboto";
  font-size: 14px;
  background-size: 200% 100% !important;
  -webkit-animation: move 10s ease infinite;
  animation: move 10s ease infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #49d49d 10%, #a2c7e5 90%);
  height: 100vh;
}

.user {
  width: 90%;
  max-width: 340px;
  margin: 10vh auto;
}

.user__header {
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 500px, 0);
          transform: translate3d(0, 500px, 0);
  -webkit-animation: arrive 500ms ease-in-out 0.7s forwards;
  animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
  font-size: 14px;
  margin-bottom: -10px;
  font-weight: 500;
  color: white;
}

.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, 500px, 0);
          transform: translate3d(0, 500px, 0);
  -webkit-animation: arrive 500ms ease-in-out 0.9s forwards;
  animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
  -webkit-animation: NO 1s ease-in-out;
  animation: NO 1s ease-in-out;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__input:focus {
  background: #f7f7f7;
}

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: #aba194;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background: #a09486;
}

@-webkit-keyframes NO {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@keyframes NO {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@-webkit-keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* footer*/
footer {
  background: #d0d8db;
  padding-top: 25px;
  padding-bottom: 1px;
  margin: auto;
}

textarea {
  resize: none;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
}

.svg-inline--fa {
  vertical-align: -0.2em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.123rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 10px;
  font-weight: normal;
  line-height: 40px;
  border-radius: 100px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: 0.15rem;
  margin-bottom: 0.15rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
  font-size: 20px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

h4 {
  font-size: 10px;
  padding: 5px;
}
/*# sourceMappingURL=estilofinal.css.map */